* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Sono', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #692d2d;
    border-radius: 0px 0px 0px 120px;
}

.cabecalho__imagem {
    width: 200px;
}

.cabecalho__titulo,
.cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item {
    display: inline;
    margin: 0px 0px 0px 40px;
    font-size: 24px;
    color: #8a8a8a;
}

.escola {
    margin: 20px;
    padding: 20px;
    background-color: #7E7777;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: #421212;
}

.escola__div {
    margin: 20px;
}

.escola__imagem {
    margin: 20px;
    width: 400px;
    height: auto;
    border-radius: 20px 0px 20px 0px;
}

.escola__titulo {
    text-align: center;
    padding: 20px;
}

.escola__paragrafo {
    text-align: justify;
}

.estudantes {
    background-color: #692d2d;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
}

.estudantes__div {
    text-align: center;
}

.estudantes__div-imagem {
    width: 120px;
    height: auto;
}