.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #692d2d;
    border-radius: 0px 0px 0px 40px;
}

.cabecalho__imagem {
    width: 200px;
}

.cabecalho__titulo,
.cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item {
    display: inline;
    margin: 0px 0px 0px 80px;
    font-size: 24px;
    color: #8a8a8a;
}

.escola {
    margin: 20px;
    padding: 20px;
    background-color: rgb(232, 249, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.escola__imagem {
    margin: 20px;
    width: 400px;
    height: auto;
}

.escola__titulo {

    text-align: center;
}

.escola__paragrafo {
    text-align: justify;
}