.cabecalho {
    background-color: #824545;

}

.cabecalho__imagem {
    width: 200px;

}

.cabecalho__titulo,
.cabecalho__menu {
    display: inline;

}

.cabecalho__menu-item{
    display: inline;
    margin: 0px 0px 0px 20px;
    font-size: 32px;
}